<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/player.png">

    <title>Sokoban</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="index.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sokoban</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="content">
        <h1>Sokoban</h1>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">Game</div>
            <div class="panel-body">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" style="width: 100%" type="button" id="games-selector" data-toggle="dropdown">
                  Preset Levels
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="width: 100%">
                  <li><a href="#" id="level-1">Level 1</a></li>
                </ul>
              </div>
              <textarea id="level" rows="6" class="form-control" style="width: 100%; white-space: nowrap;"></textarea>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Solution</div>
            <div class="panel-body">
              <textarea id="solution" class="form-control" style="width: 100%">R U R R D D D D L D R U U U U L L L R D R D R D D L L D L L U U D R</textarea>
              <div class="input-group">
                <span class="input-group-addon">Speed</span>
                <input type="text" id="speed" class="form-control" placeholder="250" value="250">
              </div>
              <button id="play" type="button" class="btn btn-default btn-block">Play</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">Game Board</div>
            <div class="panel-body">
              <div id="board"></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Manual Controls</div>
            <div class="panel-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <button id="play-up" type="button" class="btn btn-default btn-block">Up</button>
                  </div>
                  <div class="col-md-4"></div>
                </div>
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-4">
                    <button id="play-left" type="button" class="btn btn-default btn-block">Left</button>
                  </div>
                  <div class="col-md-4">
                    <button id="play-right" type="button" class="btn btn-default btn-block">Right</button>
                  </div>
                  <div class="col-md-2"></div>
                </div>
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <button id="play-down" type="button" class="btn btn-default btn-block">Down</button>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Logs</div>
        <div class="panel-body">
          <textarea id="log" readonly rows="10" class="form-control" style="width: 100%; border-color: Transparent;"></textarea>
        </div>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script data-main="main" src="require/require.min.js"></script>

    <script id="board-template" type="template">
      <% for (var y = 0; y < game.getSize().getY(); y++) { %>
      <div class="board-row">
        <% for (var x = 0; x < game.getSize().getX(); x++) { %>
        <% if (game.isWall(x, y)) { %>
        <div id="cell-<%= x %>-<%= y %>" style="background-image: url(<%= 'img/wall.png' %>)"></div>
        <% } else if (state.isPlayer(x, y)) { %>
        <div id="cell-<%= x %>-<%= y %>" style="background-image: url(<%= 'img/player.png' %>)"></div>
        <% } else if (game.isStorage(x, y)) { %>
        <% if (state.isBox(x, y)) { %>
        <div id="cell-<%= x %>-<%= y %>" style="background-image: url(<%= 'img/goal-box.png' %>)"></div>
        <% } else { %>
        <div id="cell-<%= x %>-<%= y %>" style="background-image: url(<%= 'img/goal.png' %>)"></div>
        <% } %>
        <% } else if (state.isBox(x, y)) { %>
        <div id="cell-<%= x %>-<%= y %>" style="background-image: url(<%= 'img/box.png' %>)"></div>
        <% } else { %>
        <div id="cell-<%= x %>-<%= y %>" style="background-image: url(<%= 'img/ground.png' %>)"></div>
        <% } %>
        <% } %>
      </div>
      <div style="clear: both"></div>
      <% } %>
    </script>

    <script type="application/javascript">
      requirejs(["sokoban/game", "sokoban/game-state"], function (Game, GameState) {
        jQuery(function ($) {
          var game;
          var state;
          var initialState;

          var buildGame = function () {
            var level = $("#level").val().split("\n");
            var size = level[0];
            var walls = level[1];
            var boxes = level[2];
            var storage = level[3];
            var player = level[4];

            game = Game.factory(size, walls, storage);
            initialState = GameState.factory(boxes, player);
          }

          var move = function (dir) {
            console.log("move:", dir, "; allowed moves:", game.allowedMoves(state));
            var log = "move: " + dir + " ; allowed moves: [" + game.allowedMoves(state).join(", ") + "]\n";
            $("#log").append(log);
            if (!game.canMove(state, dir)) {
              $("#log").append("Illegal move '" + dir + "'");
              throw "Illegal move '" + dir + "'";
            }
            state = state.move(dir);
          };

          var drawBoard = function () {
            var boardTemplate = _.template($("#board-template").html());
            $("#board").html(boardTemplate({ game: game, state: state }));
          };

          var run = function (moves, delay) {
            drawBoard();
            if (moves.length > 0) {
              move(moves[0]);

              window.setTimeout(function () {
                run(_.tail(moves), delay);
              }, delay);
            }
          };

          $("#play").click(function () {
            var solution = $("#solution").val();
            var speed = $("#speed").val();
            state = initialState;
            run(solution.split(" "), speed);
          });

          $("#level").on("change keyup paste", function () {
            buildGame();
            drawBoard();
          });

          $("#level-1").click(function () {
            var size = "8 9";
            var walls = ["35",
            "2 0", "3 0", "4 0", "5 0", "6 0",
            "0 1", "1 1", "2 1", "6 1",
            "0 2", "6 2",
            "0 3", "1 3", "2 3", "6 3",
            "0 4", "2 4", "3 4", "6 4",
            "0 5", "2 5", "6 5", "7 5",
            "0 6", "7 6",
            "0 7", "7 7",
            "0 8", "1 8", "2 8", "3 8", "4 8", "5 8", "6 8", "7 8",
            ].join(" ");
            var storage = ["7", "1 2", "5 3", "1 4", "4 5", "3 6", "6 6", "4 7"].join(" ");
            var boxes = ["7", "3 2", "4 3", "4 4", "1 6", "3 6", "4 6", "5 6"].join(" ");
            var player = "2 2";
            var level = [size, walls, boxes, storage, player].join("\n");

            $("#level").val(level);
            buildGame();
            state = initialState;
            drawBoard();
          }).click();

          $("#play-up").click(function () {
            move("U");
            drawBoard();
          });

          $("#play-left").click(function () {
            move("L");
            drawBoard();
          });

          $("#play-right").click(function () {
            move("R");
            drawBoard();
          });

          $("#play-down").click(function () {
            move("D");
            drawBoard();
          });
        });
      });
    </script>
  </body>
</html>

