<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/player.png">

    <title>Sokoban</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="index.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sokoban</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="content">
        <h1>Sokoban</h1>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">Level</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-3">
                  <div id="type-wall" class="thumbnail type type-selected"><img src="img/wall.png"></div>
                </div>
                <div class="col-xs-3">
                  <div id="type-box" class="thumbnail type"><img src="img/box.png"></div>
                </div>
                <div class="col-xs-3">
                  <div id="type-storage" class="thumbnail type"><img src="img/goal.png"></div>
                </div>
                <div class="col-xs-3">
                  <div id="type-player" class="thumbnail type"><img src="img/player.png"></div>
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon">Width</span>
                <input type="number" id="width" class="form-control" placeholder="0" value="8">
              </div>
              <div class="input-group">
                <span class="input-group-addon">Height</span>
                <input type="number" id="height" class="form-control" placeholder="0" value="9">
              </div>
              <button type="button" id="clear" class="btn btn-default" style="width: 100%">Clear</button>
              <button type="button" id="reset" class="btn btn-default" style="width: 100%">Reset</button>
              <textarea id="level" readonly rows="6" class="form-control" style="width: 100%; border-color: Transparent; white-space: pre;"></textarea>
              <textarea id="load-board" rows="6" class="form-control" style="width: 100%; white-space: pre;"></textarea>
              <div class="input-group" style="width: 100%">
                <span class="input-group-addon">
                  Inverse&nbsp;<input type="checkbox" id="inverse">
                </span>
                <button type="button" id="load" class="btn btn-default" style="width: 100%">Load Board</button>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Solution</div>
            <div class="panel-body">
              <textarea id="solution" class="form-control" style="width: 100%">R U R R D D D D L D R U U U U L L L R D R D R D D L L D L L U U D R</textarea>
              <div class="input-group">
                <span class="input-group-addon">Speed</span>
                <input type="text" id="speed" class="form-control" placeholder="250" value="250">
              </div>
              <button id="play" type="button" class="btn btn-default btn-block">Play</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">Game Board</div>
            <div class="panel-body">
              <div id="board" class="normal"></div>
            </div>
            <div class="input-group" style="width: 100%">
              <span class="input-group-addon">
                <input type="radio" id="normal" name="size" checked>&nbsp;Normal
                <input type="radio" id="small" name="size">&nbsp;Small
                <input type="radio" id="smaller" name="size">&nbsp;Smaller
                <input type="radio" id="tiny" name="size">&nbsp;Tiny
              </span>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Manual Controls</div>
            <div class="panel-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <button id="play-up" type="button" class="btn btn-default btn-block">Up</button>
                  </div>
                  <div class="col-md-4"></div>
                </div>
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-4">
                    <button id="play-left" type="button" class="btn btn-default btn-block">Left</button>
                  </div>
                  <div class="col-md-4">
                    <button id="play-right" type="button" class="btn btn-default btn-block">Right</button>
                  </div>
                  <div class="col-md-2"></div>
                </div>
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <button id="play-down" type="button" class="btn btn-default btn-block">Down</button>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Logs</div>
        <div class="panel-body">
          <textarea id="log" readonly rows="10" class="form-control" style="width: 100%; border-color: Transparent;"></textarea>
        </div>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script data-main="main" src="require/require.min.js"></script>

    <script id="board-template" type="template">
      <% for (var y = 1; y <= game.getSize().getY(); y++) { %>
      <div class="board-row">
        <% for (var x = 1; x <= game.getSize().getX(); x++) { %>
        <% if (game.isWall(x, y)) { %>
        <div id="cell-<%= x %>-<%= y %>" class="cell" style="background-image: url(img/wall.png)"></div>
        <% } else if (state.isPlayer(x, y)) { %>
        <div id="cell-<%= x %>-<%= y %>" class="cell" style="background-image: url(img/player.png)"></div>
        <% } else if (game.isStorage(x, y)) { %>
        <% if (state.isBox(x, y)) { %>
        <div id="cell-<%= x %>-<%= y %>" class="cell" style="background-image: url(img/goal-box.png)"></div>
        <% } else { %>
        <div id="cell-<%= x %>-<%= y %>" class="cell" style="background-image: url(img/goal.png)"></div>
        <% } %>
        <% } else if (state.isBox(x, y)) { %>
        <div id="cell-<%= x %>-<%= y %>" class="cell" style="background-image: url(img/box.png)"></div>
        <% } else { %>
        <div id="cell-<%= x %>-<%= y %>" class="cell" style="background-image: url(img/ground.png)"></div>
        <% } %>
        <% } %>
      </div>
      <div style="clear: both"></div>
      <% } %>
    </script>

    <script type="application/javascript">
      requirejs(["sokoban/game", "sokoban/game-state"], function (Game, GameState) {
        jQuery(function ($) {
          var game;
          var state;
          var initialState;

          var slide = function (list, n) {
            result = [];

            while (list.length > 0) {
              var pair = _.take(list, n);
              result.push(pair.join(" "));
              list = _.drop(list, n);
            }

            return result;
          };

          var parseBoard = function(text) {
            var parts = text.split("\n");
            var size = parts[0].split(" ");
            $("#width").val(size[0]);
            $("#height").val(size[1]);

            return {
              "W": slide(_.tail(parts[1].split(" ")), 2),
              "B": slide(_.tail(parts[2].split(" ")), 2),
              "S": slide(_.tail(parts[3].split(" ")), 2),
              "P": parts[4]
            };
          }

          var exampleLevel = [
            "8 9",
            "35 3 1 4 1 5 1 6 1 7 1 1 2 2 2 3 2 7 2 1 3 7 3 1 4 2 4 3 4 7 4 1 5 3 5 4 5 7 5 1 6 3 6 7 6 8 6 1 7 8 7 1 8 8 8 1 9 2 9 3 9 4 9 5 9 6 9 7 9 8 9",
            "7 4 3 5 4 5 5 2 7 4 7 5 7 6 7",
            "7 2 3 6 4 2 5 5 6 4 7 7 7 5 8",
            "3 3"
          ].join("\n");
          var board = parseBoard(exampleLevel);
          var type = "W";

          var buildGame = function () {
            var size = [$("#width").val(), $("#height").val()].join(" ");
            var walls = [_.size(board["W"]), board["W"].join(" ")].join(" ");
            var storage = [_.size(board["S"]), board["S"].join(" ")].join(" ");
            var boxes = [_.size(board["B"]), board["B"].join(" ")].join(" ");
            var player = board["P"];

            $("#level").text([size, walls, boxes, storage, player].join("\n"));

            game = Game.factory(size, walls, storage, $("#inverse").prop("checked"));
            state = GameState.factory(boxes, player, $("#inverse").prop("checked"));
          }

          var move = function (dir) {
            console.log("move:", dir, "; allowed moves:", game.allowedMoves(state));
            var log = "move: " + dir + " ; allowed moves: [" + game.allowedMoves(state).join(", ") + "]\n";
            $("#log").append(log);
            if (!game.canMove(state, dir)) {
              $("#log").append("Illegal move '" + dir + "'");
              throw "Illegal move '" + dir + "'";
            }
            state = state.move(dir);
          };

          var drawBoard = function () {
            var boardTemplate = _.template($("#board-template").html());
            $("#board").html(boardTemplate({ game: game, state: state }));

            $(".cell").on("click", function (event) {
              var matches = event.toElement.id.match(/cell-(\d+)-(\d+)/);
              var loc = [matches[1], matches[2]].join(" ");
              if (type == "P") {
                board["P"] = loc;
              } else if (_.contains(board[type], loc)) {
                board[type] = _.without(board[type], loc);
              } else {
                board[type].push(loc);
              }

              buildGame();
              initialState = state;
              drawBoard();
            });
          };

          var run = function (moves, delay) {
            drawBoard();
            if (moves.length > 0) {
              move(moves[0]);

              window.setTimeout(function () {
                run(_.tail(moves), delay);
              }, delay);
            }
          };

          $("#load").on("click", function () {
            board = parseBoard($("#load-board").val());
            buildGame();
            initialState = state;
            drawBoard();
          });

          $("#width").on("input", function () {
            buildGame();
            drawBoard();
          });

          $("#height").on("input", function () {
            buildGame();
            drawBoard();
          });

          $("#clear").on("click", function () {
            board = {
              "W": [],
              "B": [],
              "S": [],
              "P": "0 0"
            };

            buildGame();
            drawBoard();
          });

          $("#reset").on("click", function () {
            state = initialState;
            drawBoard();
          });

          $("#type-wall").on("click", function (event) {
            $(".type").removeClass("type-selected");
            $(this).addClass("type-selected");
            type = "W";
          });

          $("#type-box").on("click", function (event) {
            $(".type").removeClass("type-selected");
            $(this).addClass("type-selected");
            type = "B";
          });

          $("#type-storage").on("click", function (event) {
            $(".type").removeClass("type-selected");
            $(this).addClass("type-selected");
            type = "S";
          });

          $("#type-player").on("click", function (event) {
            $(".type").removeClass("type-selected");
            $(this).addClass("type-selected");
            type = "P";
          });

          $("#play").click(function () {
            var solution = $("#solution").val();
            var speed = $("#speed").val();
            state = initialState;
            run(solution.split(" "), speed);
          });

          $("#play-up").click(function () {
            move("U");
            drawBoard();
          });

          $("#play-left").click(function () {
            move("L");
            drawBoard();
          });

          $("#play-right").click(function () {
            move("R");
            drawBoard();
          });

          $("#play-down").click(function () {
            move("D");
            drawBoard();
          });

          $("#normal").on("click", function () {
            $('#board').addClass("normal").removeClass("small").removeClass("smaller").removeClass("tiny")
          });

          $("#small").on("click", function () {
            $('#board').addClass("small").removeClass("smaller").removeClass("tiny").removeClass("normal")
          });

          $("#smaller").on("click", function () {
            $('#board').addClass("smaller").removeClass("tiny").removeClass("normal").removeClass("small")
          });

          $("#tiny").on("click", function () {
            $('#board').addClass("tiny").removeClass("normal").removeClass("small").removeClass("smaller")
          });

          buildGame();
          drawBoard();
          initialState = state;
        });
      });
    </script>
  </body>
</html>

