body {
  padding-top: 50px;
}

.content {
  padding: 40px 15px;
  text-align: center;
}

#board {
  background: #DED6AD;
  padding: 1em;
}

.board-row > div {
  float: left;
  background-size: 100% 100%;
}

.normal > .board-row > div {
  height: 32px;
  width: 32px;
}

.small > .board-row > div {
  height: 24px;
  width: 24px;
}

.smaller > .board-row > div {
  height: 16px;
  width: 16px;
}

.tiny > .board-row > div {
  height: 12px;
  width: 12px;
}

.type-selected {
  background-color: black;
}

.input-group-addon {
  width: 75px;
}
